tensorflow==2.16.1          # works with Python 3.10
numpy==1.26.0               # compatible
scipy==1.11.4             # compatible
mlflow==2.11.3              # works
python-box==6.0.2
pyyaml
pandas
dvc
notebook
matplotlib
seaborn
tqdm
ensure==1.0.2
joblib
Flask
Flask-Cors
gdown
-e .